@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* Основные стили */

body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 2rem;
    padding-left: 5%;
    padding-right: 5%;;
}

#intro .intro-images {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

#intro .intro-images img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

/* Сетка для карточек снаряжения */
#gear .gear-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.gear-card {
    background-color: #f4f4f4;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gear-card:hover {
    transform: scale(1.03); /* Увеличение при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Более выраженная тень */
}

.gear-card img {
    width: 120px;
    height: auto;
}

.gear-card h3 {
    font-weight: 700;
    margin: 1rem 0 0.5rem;
    color: #333;
}

.gear-card p {
    font-size: 0.9rem;
    line-height: 1.4;
}

/* Одежа и обувь */
#clothing-footwear {
    margin-top: 2rem;
}

.clothing-footwear-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.clothing, .footwear {
    background-color: #f4f4f4;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.clothing:hover, .footwear:hover {
    transform: scale(1.03); /* Увеличение при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Более выраженная тень */
}

.clothing h3, .footwear h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
}

.clothing p, .footwear p {
    line-height: 1.6;
    font-size: 0.95rem;
}

@media (max-width: 768px) {
    .clothing-footwear-container {
        grid-template-columns: 1fr;
    }
}

/* Правила поведения */
#rules .rules-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки на больших экранах */
    gap: 1.5rem;
    margin-top: 2rem;
}

.rules-card {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.rules-card:hover {
    transform: scale(1.03); /* Увеличение при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Более выраженная тень */
}

.rules-card-header {
    position: relative;
    display: block;
}

.rules-card-header img {
    width: 100%;
    height: 200px; /* Установлена фиксированная высота */
    object-fit: cover; /* Изображения масштабируются с сохранением пропорций */
    border-radius: 10px;
    margin-bottom: 1rem;
}

.rules-card-header h3 {
    position: absolute;
    padding: 10px;
    bottom: 2rem;
    right: 2rem;

    color: white;
    font-size: 1.4rem;
    font-weight: 700;

    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(2px);
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.rules-card ul {
    list-style: none;
    padding-left: 0;
}

.rules-card ul li {
    margin-bottom: 0.75rem;
    line-height: 1.5;
    font-size: 0.95rem;
}

@media (max-width: 1024px) {
    #rules .rules-grid {
        grid-template-columns: repeat(2, 1fr); /* Две колонки на средних экранах */
    }
}

@media (max-width: 768px) {
    #rules .rules-grid {
        grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
    }
}

/* Предупреждение о нарушении законов */
#legal-warning {
    margin-top: 2rem;
}

.legal-warning-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Три колонки на больших экранах */
    gap: 1.5rem;
}

.legal-warning-card {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.legal-warning-card:hover {
    transform: scale(1.03); /* Увеличение при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Более выраженная тень */
}

.legal-warning-card h3 {
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #333;
}

.legal-warning-card h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #555;
}

.legal-warning-card ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0.5rem;
}

.legal-warning-card ul li {
    margin-bottom: 0.75rem;
    line-height: 1.6;
    font-size: 0.95rem;
}

@media (max-width: 1024px) {
    .legal-warning-container {
        grid-template-columns: repeat(2, 1fr); /* Две колонки на средних экранах */
    }
}

@media (max-height: 400px) {
    .legal-warning-container {
        grid-template-columns: 1fr; /* Одна колонка на очень низких экранах */
    }
}

@media (max-width: 1024px) {
    .legal-warning-container {
        grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
    }
}

/* Авторы */

#authors {
    padding: 2rem;
}

.authors-grid {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1.5rem;
}

.author-card {
    background-color: #f4f4f4;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.author-card:hover {
    transform: scale(1.03); /* Увеличение при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Более выраженная тень */
}

.author-avatar {
    width: 150px; /* Размер аватарки */
    height: 150px; /* Размер аватарки */
    border-radius: 50%; /* Круглая форма */
    object-fit: cover; /* Сохранение пропорций */
    margin-bottom: 1rem;
}

.author-card h3 {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #333;
}

.author-card p {
    font-size: 0.9rem;
    color: #666;
}


/* Анимация при загрузке */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card {
    animation: fadeInUp 0.5s ease-out;
}

/* Футер */
footer {
    background-color: #333;
    color: white;
    padding: 1rem;
}

footer p {
    color: white;
    text-align: center;
}